<!DOCTYPE html>
<html>
  <head>
    <title>First Rails App 626</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background: goldenrod; padding: 16px;">
      NAV 🥭
      <%= link_to "Home", root_path %>
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
    </div>

    <%= yield %>

    <p>This is an amazing footer 🦶</p>
  </body>
</html>
